{% extends "layout.html" %}
{% block main %}
	<br>
	<h1>Benvenuto su Skribbl-It</h1>
	<hr>
	<p>Inserisci il suggerimento di skribbl con le varie lettere, e l'algoritmo ti darà una lista di parole possibili. Inserisci sotto i trattini come lettere mancanti inserendo anche le lettere dei suggerimenti. Esempio: a---r- ti darà albero, o affare.</p>
	<form action="{{ url_for('home') }}" method="post">
	<input type="text" name="hint">
	<input type="submit">
	</form>
	{% if risultati %}
	<hr>
	<h3>Risultati</h3>
	{% for risultato in risultati %}
	{{ risultato }}<br>
	{% endfor %}
	{% else %}
	{% endif %}
	<hr>
	<a href="https://bestemmie.ga">Un altro grande sito</a>
	<br>
	<a href="https://github.com/napsav/skribbl-it">Scritto da Saverio Napolitano, vedi su GitHub</a>
{% endblock %}
